/* styles.css */

@font-face {
  font-family: 'DisposableDroidBB';
  src: url('./DisposableDroidBB.ttf') format('truetype');
}

body {
  font-family: 'DisposableDroidBB', sans-serif;
  background-color: #ffe6cc;
  margin: 0;
  padding: 0;
  background-image: url('./interior.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./interior.png');
  background-size: cover;
  color: #4d2600;
}

.collection-page {
  background-size: cover;
  padding: 5vw;
  text-align: center;
  overflow-y: scroll;
  max-height: calc(100vh - 5vw);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5vw;
}

.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5vw;
  padding: 2.5vw;
  background-color: #4d2600;
  border-radius: 2vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  color: #fff; /* Set text color to white */
}



.collection-card img {
  max-width: 100%;
  border: 1vw solid #4d2600;
  border-radius: 2vw;
  transition: transform 0.2s ease-in-out;
}

.collection-card button {
  font-family: 'DisposableDroidBB', sans-serif;
  background-color: #4d2600;
  color: #fff;
  padding: 2vw 3vw;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  margin-top: 2vw;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.collection-card:hover {
  transform: scale(1.05);
}

.collection-card img:hover {
  transform: scale(1.5);
}

.collection-card button:hover {
  background-color: #61380a;
  transform: scale(1.05);
}

.collection-page button,
.shop-page button {
  font-family: 'DisposableDroidBB', sans-serif;
  background-color: #0000007b;
  color: #fff;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.collection-page button:hover,
.shop-page button:hover {
  background-color: #4b4b4b;
  transform: scale(1.05);
}

.p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  background-color: #00000071;
  color: #fff;
  padding: 4px;
  margin: 4px 0;
}

.shop-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #000000b0;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.back-button {
  background-color: #4d2600;
  color: #fff;
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.back-button:hover {
  background-color: #61380a;
  transform: scale(1.05);
}

.chest-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.chest-button {
  width: 200px;
}

.chest-button img {
  width: 100%;
  margin-bottom: 8px;
}

.collection-page button-container {
  display: flex;
  justify-content: space-between;
}

.collection-page .selling-all .collection-card {
  animation: fly-off 1s ease-in-out;
}

@keyframes fly-off {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -1000px);
    opacity: 0;
  }
}

.marketplace-page {
  background-color: #1a2630;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 700px;
}

.market-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.market-table th,
.market-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #af590b;
}

.market-table th {
  background-color: #290000;
}

.market-table tr:nth-child(even) {
  background-color: #59351c;
}

.market-table tr:hover {
  background-color: #8b5a2b;
  transform: scale(1.02);
  transition: background-color 0.3s, transform 0.3s;
}

button {
  background-color: #af590b;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #290000;
}

.marketplace-page button {
  font-family: 'DisposableDroidBB', sans-serif;
}

.market-table img:hover {
  transform: scale(2.7);
  transition: transform 0.3s;
  cursor: pointer;
}

.willy-tips {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: black;
  color: lightgreen;
  border-radius: 10px;
  text-align: center;
  z-index: 999;
  font-size: 2em;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.battle-menu {
  text-align: center;
}

.battle-buttons {
  margin-top: 20px;
}

.battle-buttons button {
  width: 200px;
  height: 80px;
  margin: 0 10px;
}

.free-card-button {
  color: yellow;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.free-card-button img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.free-card-button:hover {
  background-color: rgba(255, 255, 0, 0.3);
}

/* Media Queries for Responsive Design */

@media (max-width: 767px) {
  .collection-card {
    margin: 5px; /* Adjust margin for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
    border-radius: 5px; /* Adjust border radius for smaller screens */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Adjust box shadow for smaller screens */
  }
}

/* Media query to hide Willy's Tips on mobile devices */
@media (max-width: 1000px) {
  .willy-tips {
    display: none;
  }
}

/* Media query to adjust margin on smaller screens */
@media (max-width: 1000px) {
  .chest-container {
    margin-top: 50px; /* Adjust margin for better centering on mobile devices */
  }
}

/* Media query for larger displays */
@media (min-width: 1200px) {
  .collection-page button,
  .shop-page button {
    padding: 24px 36px; /* Adjusted padding for larger buttons on larger displays */
  }
}